{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="mt-4">Bienvenue sur le panel admin</h1>
    <p>Ce site web est un Dashboard pour les administrateurs</p>
{% endblock %}
